---
---

@import "{{ site.theme }}";

/* Global */

body {
  color: #333;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  color: #4300cc;

  &:hover, &:focus, &:active {
    outline: solid 0.1rem #4300cc;
    color: #fff;
    background-color: #4300cc;
  }
}

/* Identity and site header */
#site-branding {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  border: solid 0.25rem #fff;
  border-radius: 0.25rem;
  color: #000;

  &:hover, &:focus, &:active {
    background-color: #fff;
    color: #4300cc;
  }
}

#site-name {
  font-weight: bold;
}

/* Page Header */

.page-header {
  max-width: 65rem;
  margin: 0 auto;
  color: #333;
  text-align: left;
  background-color: #fff;
  background-image: none;
}

