---
---

@import "{{ site.theme }}";

/* Global */

body {
  color: #333;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  color: #4300cc;

  &:hover, &:focus, &:active {
    outline: solid 0.1rem #4300cc;
    color: #fff;
    background-color: #4300cc;
  }
}

/* Identity and site header */
#header-wrapper {
  border-bottom: solid .1rem #333;
}

#site-branding {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.25rem;
  color: #333;

  &:hover, &:focus, &:active {
    background-color: #fff;
    color: #4300cc;
    outline-width: .35rem;
    text-decoration: none;
  }
}

@media screen and (min-width: 37.5em) {
  #site-branding {
    font-size: 1.8rem;
  }
}

#site-name {
  font-weight: bold;
}

/* Page Header */

.page-header {
  max-width: 65rem;
  margin: 0 auto;
  color: #333;
  text-align: left;
  background-color: #fff;
  background-image: none;
}

/* Main content -- layout */
.main-content {
  padding: 4rem;
}
